<div ng-controller="balanceCtrl">
    <style>
         @font-face {
            font-family: 'numbers'; /*a name to be used later*/
            src: url("fonts/Slabo27px-Regular.ttf"); /*URL to font*/
        }
    </style>
    <h1 style="text-align: center;font-family: numbers;" id="balance">546.38$</h1>

<ion-list>
    <ion-item-sliding>
<ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
       asd
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        fe
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        rg
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item><ion-item>
        a
  </ion-item>
</ion-item-sliding>
    
</ion-list>

</div>