<div ng-controller="dashCtrl">
<h1 style="text-align: center;" class="dash-title">  Welcome to the dashboard</h1>
    <div class="row dash-row">
        <div class="card dash-card" ng-click="goTo('#/status')">
            <div class="item item-text-wrap">
                <i class="ion-stats-bars"></i>
                <p style="text-align: center;">Status</p>
            </div>
        </div>
        <div class="card dash-card" ng-click="goTo('#/balance')">
            <div class="item item-text-wrap">
            <i class="ion-cash"></i>
            <p style="text-align: center;">Balance</p>
            </div>
        </div>
    </div>
    <div class="row dash-row">
        <div class="card dash-card" ng-click="goTo('#/addFunds')">
            <div class="item item-text-wrap ">
                <i class="ion-ios-plus-outline"></i>
            <p style="text-align: center;">Add funds</p>
            </div>
        </div>
        <div class="card dash-card" ng-click="goTo('#/removeFunds')">
            <div class="item item-text-wrap">
                <i class="ion-ios-minus-outline"></i>
            <p style="text-align: center;">Remove funds</p>
            </div>
        </div>
    </div>
 <div class="row dash-row">
        <div class="card dash-card " id= "dash-user" style="width:95%;" ng-click="goTo('#/userInfo')">
            <div class="item item-text-wrap">
                <i class="ion-person"></i>
                <p style="text-align: center;">{{user.fullName()}}</p>
            </div>
        </div> 
 </div>   
</div>