<div ng-controller="statusCtrl">
<div class="list" id="stat-list">

  <label class="item item-input item-select">
    <div class="input-label">
     year
    </div>
    <select class="stat-opt" id="statYear" data-ng-model="year" ng-change="handleYearChange(year)">
            <option ng-selected="true">n/a</option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
    month
    </div>
    <select class="stat-opt" id="statMonth" data-ng-model="month" ng-change="setUpChartData(year,month)">
            <option ng-selected="true">n/a</option>
    </select>
  </label>

</div>
<div class="card" style="height: 150px;">
        <div class="item item-text-wrap">
                <canvas id="myChart" >Canvas not working!</canvas>
        </div>
</div>
        
</div>