<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link href="js/lib/ionic/css/ionic.css" rel="stylesheet">
    <!--mano css-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="js/lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/meniu.js"></script>
    <script src="js/router.js"></script>
  </head>
  <body ng-app="App" ng-controller="mainCtrl">
        
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <a style=" font-size: 28px; margin:5px 0px 0px 10px;" class="icon ion-navicon-round" ng-click="toggleMeniu()"></a>
        
        <h1 style=" font-size: 26px;margin:0 auto;">{{page.name}}</h1>

         <a style=" font-size: 28px; margin:5px 10px 0px 0px;" class="ion-gear-a" href="#/settings" ></a>
      </ion-header-bar>
      
      <ion-content>
      
         

          <ion-side-menus >
              <!-- Left menu -->
              <ion-side-menu side="left">
                <div class="list">
                  <a class="item" href='#/{{item.toLowerCase()}}' ng-repeat="item in meniuItems" ng-click="toggleMeniu()">
                    {{item}}
                  </a>
                </div>
                
              </ion-side-menu>

              <ion-side-menu-content>
                 <ion-nav-view class="background" ng-controller="viewCtrl">
                 </ion-nav-view>
              </ion-side-menu-content>

              <!-- Right menu -->

            </ion-side-menus>
            
      </ion-content>
    </ion-pane>
  </body>
</html>
