.dash-title{
    font-size: 24px;
}
.dash-card div i{
    font-size: 70px;
    width:fit-content;
    display: block;
    margin: 0 auto;
     
     
}

.dash-card{
    width:45%;
    margin: 15px auto;
}